---
---
    
@import "bootstrap";

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}


body {
	padding-top: 100px;
	padding-bottom: 20px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}

.publication {
	margin-right: auto;
  margin-left: auto;
	max-width: 1100px;
}

/* Top navigation bar */

.navbar {
	min-height: 80px;
  }
  
.navbar-brand {
padding: 0 15px;
height: 80px;
line-height: 80px;
}

.navbar-toggle {
/* (80px - button height 34px) / 2 = 23px */
margin-top: 23px;
padding: 9px 10px !important;
}

@media (min-width: 768px) {
.navbar-nav > li > a {
	/* (80px - line-height of 27px) / 2 = 26.5px */
	padding-top: 26.5px;
	padding-bottom: 26.5px;
	line-height: 27px;
}
}

p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides - for project-page */
.col-sm-13 {
	padding-left: 50px;
	padding-right: 50px;
}


/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


/* Custom */

.pubscroll {
	max-height: 500px; /* Change to your desired max height */
	overflow-y: scroll;
	overflow-x: scroll;
	background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

// .eu-funding-logo {
//     display: flex;
//     justify-content: center;
//   }

// .eu-funding-logo img {
// max-width: 100%;
// }


// .iras-hub-logo {
//     // display: flex;
// 	flex: 1;
//     justify-content: center;
//   }

// .iras-hub-logo img {
// max-width: 30%;

// }

.eu-header-row {
	display: flex;
}

.col1 {
	flex: 1;
	padding: 10px;
	// justify-content: center;
  }
  
  .col1 img {
	max-width: 50%;
	// justify-content: center;
	}
  
  
  

