---
layout: default
---

        <div class="faculty">

        <h1 class="text-center">{{ page.title }}</h1>

        {% for member in site.data.team_members %}
        {% if member.id == page.id %}  
        <center>
            <div class="col-lg-12 clearfix">
            
            <a href="{{ site.url }}{{site.baseurl}}{{member.url}}">
            <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/{{ member.photo }}" class="img-responsive" width="25%" style="float: center" />
            <h4> <a href="{{ site.url }}{{site.baseurl}}{{member.url}}"> {{ member.name }} </a></h4>
            <i>{{ member.info }} <!--<br>email: <{{ member.email }}></i> -->
            <ul style="overflow: hidden">
            
            {% if member.number_educ == 1 %}
            <li> {{ member.education1 }} </li>
            {% endif %}
            
            {% if member.number_educ == 2 %}
            <li> {{ member.education1 }} </li>
            <li> {{ member.education2 }} </li>
            {% endif %}
            
            {% if member.number_educ == 3 %}
            <li> {{ member.education1 }} </li>
            <li> {{ member.education2 }} </li>
            <li> {{ member.education3 }} </li>
            {% endif %}
            
            {% if member.number_educ == 4 %}
            <li> {{ member.education1 }} </li>
            <li> {{ member.education2 }} </li>
            <li> {{ member.education3 }} </li>
            <li> {{ member.education4 }} </li>
            {% endif %}
            
            {% if member.number_educ == 5 %}
            <li> {{ member.education1 }} </li>
            <li> {{ member.education2 }} </li>
            <li> {{ member.education3 }} </li>
            <li> {{ member.education4 }} </li>
            <li> {{ member.education5 }} </li>
            {% endif %}
            
            </ul>
            </div>
        </center> 
        {% endif %}
        {% endfor %}

        <br><br>

        <div id="textid" class="col-sm-12">
            {{ content }}
        </div>    


        </div>
    